{{!-- Navbar Partial --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 navbar-header">
        {{!-- <img src='./assets/images/logo.jpg' alt='Representative' id='logo'> --}}
        <img src='./assets/images/iconPolitical.png' alt='Representative' id='logo'><br>
        <div><h2 id = "mainheading"> Politically <span id ="correct">Correct</span></h2></div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2"></div>
           <div class="col-md-10">
            <ul class="nav navbar-nav">
              <li><a href="#aboutModal"  data-toggle="modal"><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</a></li>
              <li><a href="#signModal"  data-toggle="modal"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a></li> 
              <li><a href="#loginModal" data-toggle="modal"><i class="fa fa-users" aria-hidden="true"></i>Login</a></li> 
              <li><a href="#contactModal" data-toggle="modal"><i class="fa fa-address-book-o" aria-hidden="true"></i>Contact Us</a></li> 
              <li><button type="button" id="news" class="btn btn-lg btn-primary">News</button></li>
              <form class="create-update-form">
               <div class="form-group">
                <label for="zipcode">ZipCode</label>
                <input type="text" id="zipcode" name="zipcode">
                <button type="button" id="zipSubmit" class="btn btn-lg btn-success">Search</button>
                {{!-- <img src="./assets/images/logo.jpg" alt="nj-logo"> --}}
              </div>
             </form>
            </ul>
          </div>
           <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</nav>