/* style for the landing page and app */

 .container { 
    margin-bottom:80px;
    margin-top:-10px;
    height:100%; 
} 
  #logo{
    margin-top: 15px;
    float: left;
    margin-right:10px; 
  }

  #mainheading{
    font-size:40px;
    color: blue;
    font-style: oblique;
    font-family: 'Permanent Marker';
    font: bolder;
  }
#correct{
  color: red;
}

#news{
  margin-top: 10px;
}
h2{
   font-size: 24px; 
}
h4 {
  font-weight: bold;
  font-size: 20px;
}

.panel-body {
  font-size:15px;
  background-color: lightgrey;
}

/*NavBar*/
.navbar-default  {
    padding-top:0px !important; 
    padding-bottom:10px !important;
    /*height: 45px;*/
    background: lightblue;
}

.navbar {
    position:absolute;
    /* top:30px; */
    z-index:10;
    background:#fff;
    width:100%;
}



.navbar.navbar-default {
  background:lightblue;
  margin-bottom: 0;
}

.page-header {
  font-size:50px;
}
.navbar-nav {
  position: relative;
  right: -60px;
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: block;
  margin: 0 auto;  
}

#aboutImg {
  height: 200px;
  width: 200px;
}

.contactImg {
  display: block;
  margin: 0 auto;
}
.aboutImg {
  display: block;
  margin: 0 auto;
}
.btn.btn-lg.btn-danger {
  display: block;
  margin: 0 auto;
}

/*Panels*/
.panel-title {
  text-align: center;
}


.mission {
  text-align: left;
}

.copyright {
  text-align: center;
  position: relative;
  bottom:0;
  background-color:white;
  height:40px;
}
#footer1{
  background-color: lightblue;
  z-index: 5;
}

/*Modal Styling*/
.modalHeader {
  text-align: center;
  font-size: 24px
}
.modalBody {

}
.modalText {
  text-align: left;
}

.form-group, .checkbox {
  text-align: left;
}

h4{
  text-align: center;
}

/*Footer Styling*/

.footer {
  position:absolute;
  bottom: -15px;
  width: 100%;
  height:100px;
}
.wrapper {
  position: relative;
}

/*Your Rep Styling*/
#repTable {
  display:none;
  z-index: 10;
  position: relative;
  padding: 55px;
  margin: auto;
 

} 

.repImage {
  padding-bottom: 40px;
}

.repName {
  padding-bottom: 30px;
}

/*Banner image*/
/* .bannerImg {
  width: 100%;
  height: 300px;
  padding-bottom: 30px;
}
 */
.list-group-item {
  text-align: center;
}

/* .jersey {
  width: 100%;
  /* height: 190px; */
/* } */ 


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      /* width: 70%; */
       width:100%;
       height:620px;
      margin: auto;
      padding-top: 20px;
      margin-bottom:10px;

  }

  .carousel-caption {
      /* max-width: 550px;
      padding: 0 20px; */
      /* margin:0 auto; */
     margin-top: 200px;
      text-align:center;
      color: white;
      bottom:350px;
      font-family:  'Permanent Marker';
      font-size:80px !important;
      font: bolder;
}

